{% extends "base.html" %}

{% block content %}

<h2>Página de inicio</h2>

<p>Bienvenido a mi proyecto Flask.</p>

<h3>Opciones</h3>

<ul>
    <li><a href="{{ url_for('datos') }}">Ver datos desde la base de datos</a></li>
    <li><a href="{{ url_for('producto') }}">Agregar producto</a></li>
</ul>

<h3>Leer archivos</h3>

<ul>
    <li><a href="{{ url_for('leer_txt') }}">Leer archivo TXT</a></li>
    <li><a href="{{ url_for('leer_json') }}">Leer archivo JSON</a></li>
    <li><a href="{{ url_for('leer_csv') }}">Leer archivo CSV</a></li>
</ul>

{% endblock %}